@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="wrap">
<div class="wrapper">
<div class="content">		
		<div class="about">
   		<div class="about-top">
   			<div class="about-left">
   			   <h3>Introduction Of Our Online Education Portal</h3>
   			   <div class="left-img">
   			   	 	<img src="~/Talha_Final_Project/images/pic4.jpg" alt=""/>
   			   </div>
   			    <div class="left-desc">
   			    	<p> Our Main Aim Is To Provide Mobility To Our Users As well As Our Counsellors...<br> We Provide Them Latest Online Media For Sharing Data,Access Data,Upload As Well As Download Data..<br> They Can Also Contact Us And Give Us FeedBack Through Different Social Medias..<br>Facebook<br>Twitter<br>Skype</p>
   			    </div>
   			     <p> Excellent And User Friendly Online Portal...</p>
   			   <div class="border"> </div>
   			    <div class="left-bot-img">
   			    	<h3>Our Profile</h3>
   			   	 	<p>It's A Latest Online Education Portal Where Every University Student Can Easily Register And Access The Tools</p>
   			   	 	
   			   	 	<div class="icon">
   			   	 		<img src="~/Talha_Final_Project/images/a.png" alt=""/>
   			   	 	</div>
   			   	 	<div class="icon-desc">
   			   	 		<p>A stands For "ANY"</p>
   			   	 	</div>
   			   	 	<div class="clearfix"></div>
   			   	 	
   			   	 	<div class="icon">
   			   	 		<img src="~/Talha_Final_Project/images/b.png" alt=""/>
   			   	 	</div>
   			   	 	<div class="icon-desc">
   			   	 		
   			   	 		<p>B Stands For "BODY"</p>
   			   	 	</div>
   			   </div>
   			   
   		    </div>
   		    <div class="about-right">
   		    	
   			   <h3>Our Director</h3>
   			    <div class="right-img">
   			    <img src="~/Talha_Final_Project/images/pic6.jpg" alt=""/>
   			   <p>Miss Leena Our Professor Of Human Computer Interaction Gave Us That Idea And Motivate Us To Do It Further. She Is The Director Of The Project....  </p>
   			    <div class="border"> </div>
   			      <h3>Useful Links</h3>
   			      <a href="https://mva.microsoft.com/" class="link1">Microsoft Virtual Academy</a><br>
   			      <a href="http://ge.tt/2yfGxGO2?c" class="link1">Cloud</a><br>
   			      
   		    </div>
   		<div class="clear"></div>
   	</div>	
   	<div class="clear"></div>
</div>
</div>	
</div>
</div></div>