@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="wrap">
<div class="wrapper">
<div class="content">		
	  <div class="contact">
   <div class="contact-left">
		<div class="contact-desc">
			<h3>Contact</h3>
			
		</div>
		<form>
			<div>
				<span><label>Name</label></span>
				<span><input type="text" value=""></span>
			</div>
			<div>
				<span><label>Email</label></span>
				<span><input type="text" value=""></span>
			</div>
			<div>
				<span><label>Subject</label></span>
				<span><textarea></textarea></span>
			 </div>
			<div>
		<a href="#"><p><span class="submit">Submit</span></p></a>
			</div>
        </form>
		</div>	
    
		<div class="map">
			<iframe width="940" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=uk&amp;aq=&amp;sll=37.09024,-95.712891&amp;sspn=46.092115,107.138672&amp;ie=UTF8&amp;hq=&amp;hnear=Uttarakhand&amp;t=m&amp;z=8&amp;ll=30.066753,79.0193&amp;output=embed"></iframe><br /><small><a href="http://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=uk&amp;aq=&amp;sll=37.09024,-95.712891&amp;sspn=46.092115,107.138672&amp;ie=UTF8&amp;hq=&amp;hnear=Uttarakhand&amp;t=m&amp;z=8&amp;ll=30.066753,79.0193" style="color:#14b97d;text-align:left">View Larger Map</a></small>
		</div
      <div class="clear"></div>
</div>	
</div>
</div>
</div>