@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<style>

h1.ex {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 200px;
}
</style>
<h1 class="ex"><b>Home</b></h1>
