@{
    ViewBag.Title = "Portfolio";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="wrap">
<div class="wrapper">
<div class="content">

<h2>Portfolio</h2>
    </br>
</div>
</div>
</div>